In [1]:
import pandas as pd

In [3]:
file_path = r'C:\Users\Lenovo\Downloads\enhanced_product_usage_data.csv'

In [5]:
df = pd.read_csv(file_path)

In [7]:
# Basic structure
print(df.info())

# Statistical summary
print(df.describe(include='all'))

# Missing values
print(df.isnull().sum())

# Preview data
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   User ID              120000 non-null  int64
 1   Date                 120000 non-null  object
 2   Action               120000 non-null  object
 3   Feature              120000 non-null  object
 4   Duration             120000 non-null  int64
 5   Device               120000 non-null  object
 6   Country              120000 non-null  object
 7   Subscription Status  120000 non-null  object
 8   Revenue              120000 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 8.2+ MB
None
              User ID                 Date       Action Feature  \
count   120000.000000               120000       120000  120000
unique            NaN               119888            3       5
top               NaN  2022-08-31 01:39:44  Transaction  Search
freq              NaN                    3        40026   24131
mean     60000.500000                  NaN          NaN     NaN
std      34641.160489                  NaN          NaN     NaN
min          1.000000                  NaN          NaN     NaN
25%      30000.750000                  NaN          NaN     NaN
50%      60000.500000                  NaN          NaN     NaN
75%      90000.250000                  NaN          NaN     NaN
max     120000.000000                  NaN          NaN     NaN

             Duration   Device Country Subscription Status        Revenue
count   120000.000000   120000  120000              120000  120000.000000
unique            NaN        2     243                   3            NaN
top               NaN  Android   Korea               Trial            NaN
freq              NaN    60013     961               40211            NaN
mean        30.534950      NaN     NaN                 NaN      50.335146
std         17.323765      NaN     NaN                 NaN      28.727731
min          1.000000      NaN     NaN                 NaN       0.500000
25%         16.000000      NaN     NaN                 NaN      25.390000
50%         31.000000      NaN     NaN                 NaN      50.340000
75%         46.000000      NaN     NaN                 NaN      75.280000
max         60.000000      NaN     NaN                 NaN     100.000000
User ID                0
Date                   0
Action                 0
Feature                0
Duration               0
Device                 0
Country                0
Subscription Status    0
Revenue                0
dtype: int64
   User ID                 Date         Action    Feature  Duration   Device  \
0        1  2023-10-07 05:56:45  Feature Usage    Profile         6  Android
1        2  2022-09-06 09:34:05  Feature Usage  Dashboard        49      iOS
2        3  2023-03-31 23:10:25    Transaction  Dashboard        29  Android
3        4  2022-09-09 16:51:21    Transaction  Dashboard         4      iOS
4        5  2023-09-24 15:29:59          Login   Settings        33      iOS

                     Country Subscription Status  Revenue
0  Bouvet Island (Bouvetoya)          Subscribed    83.57
1                 Bangladesh             Expired     2.65
2                  Hong Kong             Expired    68.87
3                 Uzbekistan             Expired    66.38
4      Sao Tome and Principe               Trial    44.10

In [27]:
# Step 3: Data Cleaning
# Drop rows with missing values (if any)
df = df.dropna()

# Remove duplicate records
df = df.drop_duplicates()

# Convert 'Date' column to datetime format (if not already)
df['Date'] = pd.to_datetime(df['Date'])

# Keep only the date part (drop time)
df['Date'] = df['Date'].dt.date

In [29]:
# Save to current working directory
output_path = "processed_product_usage_data.csv"
df.to_csv(output_path, index=False)

print(f"\n✅ Processed data exported to: {output_path}")

✅ Processed data exported to: processed_product_usage_data.csv

In [33]:
import os

# Save to Documents (usually exists)
documents_path = os.path.join(os.path.expanduser("~"), "Documents")
output_path = os.path.join(documents_path, "processed_product_usage_data.csv")
df.to_csv(output_path, index=False)

print(f"\n✅ Processed data exported to: {output_path}")

✅ Processed data exported to: C:\Users\Lenovo\Documents\processed_product_usage_data.csv